<app-custom-header title="Favorite Spells"></app-custom-header>>

<ion-content [fullscreen]="true">

  <ion-searchbar enterkeyhing="search" inputmode="search" (ionInput)="filterList($event)"> </ion-searchbar>
  <div *ngIf="!retrieved">
    <ion-note>Loading Spells</ion-note>
  </div>
  <div *ngIf="retrieved">
    <div *ngIf="spellList===null||spellList.length===0">
      <div id="container">
        <ion-note>You have no favorite spells. Find Favorite spells in the Spell List</ion-note>
      </div>
    </div>
    <ion-virtual-scroll [items]="spellList" lines="full">
      <ion-item *virtualItem="let spell" button='true' (click)="spellDestination=spell" routerDirection="forward"
        [routerLink]="'spell-display/'+spell.id">
        <ion-label class="ion-text-wrap">
          <ion-text>{{spell.name}}</ion-text>
          <!-- <ion-text>Spell is {{spell}}</ion-text> -->
        </ion-label>
        <ion-note slot="end"> {{spell.mats}}</ion-note>
        <ion-note slot="end">lvl {{spell.level}}</ion-note>
      </ion-item>
    </ion-virtual-scroll>
  </div>
</ion-content>